.anujImg{
  z-index: 10;
  height: 12rem;
  position: absolute;
  left:19rem;
  top: -50px;
  left: 25%; /* Center the image horizontally */
  transform: translateX(-50%); 
  
}
.content {
  box-sizing: border-box;
  width: 100%;
  /* Adjust the maximum width as needed */
  box-sizing: border-box;
  padding: 20px;
}

@media only screen and (max-width: 1024px) and (min-width: 864px){
  
  .anujImg {
    height: 12rem;
  }

}

@media only screen and (max-width: 864px) and (min-width: 600px){
  
  .anujImg {
    height: 10rem;
  }

}

@media only screen and (max-width: 600px){
  
  .anujImg {
    height: 7rem;
  }

}