.scrollbar{
    &::-webkit-scrollbar {
        /* width: 0.2rem; */
            background-color: #ffffff39;
            width: 0.1rem;
            border-radius: 1rem;

      }
}
.EmojiPickerReact{
    background-color: #080420;
    position: absolute;
    top:-400px;
    background-color: #080420;
    box-shadow: 0 5px 10px #9a86f3;
    border-color: #9a86f3;
}
.EmojiScrollWrapper::-webkit-scrollbar {
    background-color: #080420;
    width: 5px;
    &-thumb {
      background-color: #9a86f3;
    }
  }



@media screen and (min-width: 720px) and (max-width:1080px){
    .currentuser{
        gap:0.5rem
    }    
    .Container1{
        padding: 0 1rem;
        gap: 1rem;
    }
}