@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

h4{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
}
h5{
    color: white;
    font-family: 'Inter',sans-serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 17px;
}



.outer{
    padding:3%;
    display: flex;
    background: #F5F5F5;
    
}
.left-dash{
    background-color: black;
    flex: 0.2;
    border-radius: 30px;
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.top-content{
    margin: 20% 0;
    display: flex;
    flex-direction: column;
    
}
.bottom-content{
    margin: 20% 0;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 0 20%;
}
.list-item{
    display:inline-flex;
    margin: 6% 0;
    padding:0 25%;
    font-size: 23px;    
    line-height: 30px;
}
.gap{
    margin-left: 15%;
}
.gap2{
    margin: 10% 0;
}
.bold{
    font-weight: 600;
}
.dash-board{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 30px;
}
.right-dash{
    /* background: green; */
    padding:0 3%;
    flex: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.search{
    background: white;
}
.top-3{
    /* margin-left:50px; */
    display: inline-flex;
}
.topdiv{
    display: flex;
    justify-content: space-between;
}
.dash-head{
    color: black;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
}
.div4{
    display: flex;
    justify-content: space-between;
}
.fontsize{
    font-size: 26px;
}
.search{
    background: white;
}
.icon{
    margin-bottom: 50px;
}
.green{
    border-radius: 20px;
    height: 120px;
    width: 220px;
    background: #DDEFE0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}
.yellow{
    border-radius: 20px;
    height: 120px;
    width: 220px;
    background: #F4ECDD;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}
.red{
    border-radius: 20px;
    height: 120px;
    width: 220px;
    background: #EFDADA;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}
.purple{
    border-radius: 20px;
    height: 120px;
    width: 220px;
    background: #DEE0EF;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}
.chart1{
    width: 1000px;
    background: black;
    border-radius: 20%;
    margin: 4% 0;
}
.twodiv{
    display: flex;
    justify-content: space-around;
}
.twodiv1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.border-style{
    border: 3px solid #9BDD7C;
    margin-right: 10px;
    height: 60px;

}
.border-style2{
    border: 3px solid #6972C3;
    margin-right: 10px;
    height: 60px;

}
.left-chart{
    background: white;
    height: 256px;
    width: 480px;
    border-radius: 20px;

}
.right-chart{
    padding: 3%;
    background: white;
    height: 256px;
    width: 480px;
    border-radius: 20px;
}
.smol{
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.smol-head{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #666666;
}
.smol-para{
    color: #858585;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
.top-4{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
}
.helo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.lineChart-heading{
    margin: 0;
    margin-top: -10px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.line{
    border-radius: 20px;
    padding: 30px;
    background:white;
    border-radius: 20px;
    margin-top: 20px;
    height: 300px;
}
.date{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    /* padding-bottom: 20px; */
}