@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
    color:brown;
}
h1{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 72px;
    line-height: 88px;
    font-weight: 700;
}
h2{
    text-align: left;
    font-size: 36px;
    line-height: 44px;
}
h3{
    text-align: left;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    margin: 7px 0;
}
button{
    border:none;
    cursor: pointer;
}
form{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-content: center;
}
label{
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 10px;
}
input{
    padding: 10px;
    font-size: 16px;
    line-height: 19px;
    background: #F5F5F5;
    height: 40px;
    width: 325px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}
a{
    text-align: left;
    text-decoration: none;
    color: #346BD5;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
}
span{
    color: #346BD5;
}
.flex{
    display: flex;
}
.board{
    display: flex;
    flex: 0.4;
    height: 1024px;
    justify-content: center;
    align-items: center;
    background: black;
}
.login{
    background: #F5F5F5;
    flex: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gap{
    margin-right:-10px ;
}
.space{
    width: 385px;
    justify-content: space-between;
    margin-top: 20px;
}
.glogo{
    width: 180px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.para1{
    text-align: center;
    font-size: 12px;
    color: #858585;
    line-height: 15px;
    font-family: 'Inter';
}
.whitebg{
    margin: 20px;
    height: 317px;
    width: 385px;
    background: #FFFFFF;
    border-radius: 20px;
}
.btn{
    background: #000000;
    color: white;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
}
.account{
    color: #858585;
    font-size: 16px;
    line-height: 20px;
}
